.container {
    padding: 20px;
    text-align: center;
}

.addButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}
.addButton:hover {
    background-color: #45a049;
}